@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');

$module: #f7f7f7;
$light-gray: #ebebeb;
$sidebar: #999999;
// $sidebar: #3f5049;
// $sidebar: #243656;

$dark-green: #708d81;
$right-col: #fff5c2;
$right-col-shadow: #ffeb85;
$navbar: #20232a;
$underline: #b89900;
// $navbar: #3f5049;

$footer: #282c34;
// $links: #d64045;
$links: #d2360f;

$baner: #f37353;

$sidebar-size: 15rem;

/* CSS layout */

html {
  box-sizing: border-box;

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 0.5em;
}

ul > li {
  text-decoration: dotted underline $underline 2px;
}

// ul > li::before {
//   color: $links;
//   // content: '⬤• ▶';
//   content: '⬤';

//   font-size: 0.8em;
//   margin-right: 0.2em;
// }

ol {
  list-style: none;
  counter-reset: my-awesome-counter;
}

ol > li {
  counter-increment: my-awesome-counter;
  // display: inline;
  // display: inline-block;
  // display: block;
  display: flex;
  align-items: flex-end;
}

ol > li::before {
  content: counter(my-awesome-counter) '. ';
  // color: $links;
  color: white;
  padding-left: 0.12em;
  // padding-right: 0em;
  display: block;
  width: 1.1em;
  font-size: 1.3em;
  font-weight: 900;
  background: $links;
  font: 900 1.2em oswald, sans-serif;
  margin-right: 0.5em;
}

div {
  //   position: static;
  //   border: none;
  //   float: none;
}

#masthead {
  /* width: 900px; */
  // width: max-content;

  // width: 100%;
  color: #333333;
  font: 700 1.6em oswald, sans-serif;
  text-shadow: 2px 2px white;
  // font-size: 2em;
  text-transform: uppercase;
  height: 100px;
  // max-height: 100px;
  padding: 0.5em 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: $baner;
  background-image: url(../images/baner.svg);
  // background: linear-gradient(to bottom, $right-col, $right-col-shadow 30%);
  // float: inherit;
}

#top_nav {
  // padding: 2px 2px 2px 2px;
  // padding-left: 2em;
  /* float: none; */
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  // height: 200px;
  // width: 100%;
  height: 2.5em;
  // height: 50px;
  background-color: $navbar;
  color: white;
  font: 700 1.2em oswald, sans-serif;
  // text-transform: uppercase;

  // box-shadow: 5px 1px 3px black;
  // border-bottom: white solid 1px;

  &_box {
    padding: 2px;
    align-items: center;
    display: flex;
  }
}

#container {
  /* float:none; */
  display: flex;
  // flex-wrap: wrap;
  // width: 100vw;
  min-width: 300px;
  justify-content: space-between;
  flex: 1 0 auto;
  align-items: center;
  flex-direction: column;
  // background-color: #99ccff;
  &_main {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin-top: 2em;

    // margin-right: 3em;
    // margin-left: 3em;
  }
}

#left_col {
  /* float: left; */
  // margin: 0px;
  // padding: 1em 10%;

  // width: 180px;
  padding-top: 2em;

  width: 100%;
  // min-width: 200px;
  flex-direction: column;

  display: flex;
  align-items: center;
  // width: 20%;
  // height: 100%;

  background: $sidebar;
  background: $light-gray;

  & .module {
    margin-bottom: 1.5em;
    // padding: 1.5em 1em;
    // background: $module;
    // background: $light-gray;
    // background: #c6d2cd;
    // background: $footer;
    // border-radius: 5px;
    width: 80%;
    align-items: center;
    // border-bottom: 2px solid black;

    &_title {
      // text-align: center;
      width: 96%;
      font-size: 1.5em;
      // border-bottom: 2px solid;
      margin-bottom: 0.8em;
      background-color: lighten($light-gray, 4%);
      padding: 0 3%;
      border-radius: 3px;
    }
    &_content {
      width: 90%;
      margin: 0 auto;
      font: 200 1rem roboto, sans-serif;
    }
  }

  & .module:first-child {
    border-bottom: 1px solid $sidebar;
    padding-bottom: 1.5em;
  }
}

#right_col {
  padding: 2em;
  width: 100%;
  background-color: $right-col;
  box-shadow: 4px 4px $right-col-shadow, 0 0;
  margin-bottom: 2em;
}

#page_content {
  width: 100%;
  & > p {
    text-align: justify;
    padding-top: 1em;
  }
}

#footer {
  // float: none;
  display: flex;
  align-items: center;
  justify-content: center;

  // position: absolute;
  // bottom: 0;
  flex-shrink: 0;

  padding: 2px;
  /* width: 896px; */
  // width: 100%;
  height: 5em;
  background-color: $footer;
  color: white;
}

.footer_box {
  // padding: 2px;
  // float: none;
  // width: 892px;
  // width: 100%;
  // width: max-content;
  // height: 100%;
  // background-color: #ccccff;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  // align-items: center;
  // align-content: space-around;
}

.link {
  // padding-left: 10px;
  height: 20px;
  // margin-bottom: 2px;
  margin-bottom: 0.5em;

  color: black;

  & a {
    // font: 200 1rem roboto, sans-serif;
    color: black;
  }
  // background-color: #99cfff;
  &_selected {
    // padding-left: 8px;
    height: 20px;
    // margin-bottom: 2px;
    margin-bottom: 0.5em;

    // background-color: #99cfff;
    font-size: 1.2em;
    font-weight: 600;
  }

  &_nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 1em;

    // border-bottom: 3px solid white;
  }
  &_nav a {
    color: white;
    font: 200 1rem roboto, sans-serif;
  }
  &_nav:hover {
    border-bottom: 3px solid white;
  }
}

.sub_link {
  padding-left: 20px;
  height: 20px;
  font-size: 0.9em;
  margin-bottom: 0.5em;

  & a {
    // color: black;
    color: darken($sidebar, 30%);
  }
  // background-color: #99cfff;
}

.sub_sub_link {
  padding-left: 30px;
  height: 20px;
  font-size: 0.9em;
  // margin-bottom: 2px;
  margin-bottom: 0.5em;

  & a {
    color: $sidebar;
  }
  // background-color: #99cfff;
}

.module {
  &_title {
    // font-weight: 800;
    // font-size: 1.2em;
    // margin-bottom: 15px;
    margin-bottom: 0.1em;

    // border-left: 7px solid $links;
    // border-bottom: 2px solid lighten($links, 10%);
    // border-radius: 10px 10px 0 0;
    // background-color: #99cfff;
    font: 700 1.2em oswald, sans-serif;
    // margin: 0 auto;
  }
  .module_content {
    .link_selected a {
      color: black;
      text-decoration: none;
      font: 700 1rem roboto, sans-serif;
    }

    .link {
    }

    .sub_link {
    }

    .sub_sub_link {
    }
  }
}

.link_foot {
  // float: left;
  // padding: 0 5 0 5;
  // height: 20px;
  // margin-left: 5px;
  margin: 0.25em 0;
}
.link_foot a {
  font: 200 0.9rem roboto, sans-serif;
  color: white;
}

.path {
  // padding: 3px 3px 0px 1px;
  width: $sidebar-size;
  text-align: center;
  text-transform: uppercase;

  // height: 20px;
  // float: left;
  // font-size: 0.8em;
}

div.article {
  &_title {
    font: italic normal 2.5em georgia, sans-serif;
    padding: 0 1rem 4px 1rem;
    // padding-bottom: 4px;
    letter-spacing: 1px;
    margin-bottom: 0.5em;

    // border-bottom-style: solid;
    border-bottom-width: thin;
  }

  &_summary {
    &.div {
      // margin: 0;
      // padding: 0;
    }
    padding: 8px;
    color: #303032;
    // border-bottom-style: solid;
    // border-bottom-width: 1px;
    text-align: justify;
    // background: #f4f6f5;
    padding: 0.5em 1em 1em 1em;
    border: 2px dashed #c6d2cd;
    // border-radius: 10px;
  }

  &_content {
    // margin: 10px;
    margin-bottom: 2em;
  }
}

div.article_summary div {
  font: italic normal 1.2em georgia, sans-serif;
  color: #303032;
  padding: 5px 10px 6px 15px;
  // text-align: justify;
}

p.p1 {
  font: italic normal 1.1em georgia, sans-serif;
  color: #303032;
  // padding: 5px 10px 6px 15px;
  padding: 5px 0 6px 0;

  text-align: justify;
}

p.p2 {
  font: normal 1.2em georgia, sans-serif;
  color: #303032;
  padding: 5px 10px 6px 15px;
  font-weight: 700;
}

p.p3 {
}

.czysc {
  // clear: both;
  // width: 0px;
  // height: 0px;
}

@media (min-width: 700px) {
  #masthead {
    font: 700 2em oswald, sans-serif;
  }

  .path {
    // padding: 3px 3px 0px 1px;
    // width: 300px;
    // text-align: center;
    // height: 20px;
    // float: left;
    // font-size: 0.8em;
  }

  .link_nav {
    margin-left: 3em;
  }

  #left_col {
    // width: 20vw;
    height: 100%;
    max-width: $sidebar-size;

    & .module {
      width: calc(max-content + 10%);
    }
  }

  #right_col {
    // width: 60vw;
    // width: 100%;
    height: max-content;

    // margin: 0 auto 0 4em;
    flex-shrink: 3;
  }

  #page_content {
    // width: 60vw;
    // margin: 2em 2em 0 0;
    // max-width: 700px;
    flex-shrink: 1;
  }

  #container {
    flex-direction: row;
    align-items: unset;
    // margin-right: 3em;
  }

  #container_main {
    // width: calc(100% - 23em);
    margin-right: 3em;
    margin-left: 3em;
    // flex-direction: row;
  }
}

@media (min-width: 1200px) {
  #container_main {
    flex-direction: row;
    margin-bottom: 2em;
  }

  #right_col {
    margin-left: 3em;
  }
}
